{% include system_config.Theme+"/include/header.html" %}
<main>
    <div class="wrap min">
        <section class="home-title">
            <h1>{{ system_config.Project_Name }}</h1>
            <span>{{ system_config.Project_Description }}</span>
        </section>
        <section class="home-posts">
            {%- for page_info in page_list -%}
            <div class="post-item">
                <h2><a href="/post/{{ page_info.name }}{% if static %}.html{% endif %}">{{ page_info.title }}</a></h2>
                <p>{{ page_info.excerpt }}</p>
                <div class="post-meta"><time class="date">{{ page_info.time }}</time></div>
            </div>
            {%- endfor -%}
        </section>
        <section class="home-pagenav clearfix">
            {% if now_page != 1 %}<a href="/index/{{ now_page - 1 }}" style="float: left">« 上一页</a>{% endif %}
            {% if now_page != page_row and page_row != 1 %}<a href="/index/{{ now_page + 1 }}" style="float: right">下一页 »</a>{% endif %}
        </section>
    </div>
</main>
{% include system_config.Theme+"/include/footer.html" %}
